{% extends "botanical_base.html" %}
{% block title %}Katalog roślin{% endblock %}
{% block page_title %}<h1 class="display-4">Lista rośliny</h1>{% endblock %}

{% block page_description %}
{% endblock %}

{% block page_content %}
<div class="row">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nazwa łacińska</th>
            <th scope="col">Nazwa polska</th>
            <th scope="col">Typ</th>
            <th scope="col">Jadalna</th>
            <th scope="col">Działania</th>
         </tr>
        </thead>
        <tbody>
        {% for plant in plants %}
        <tr>
            <th scope="row">{{plant.id}}</th>
            <td>{{ plant.genus }}
                {% if plant.species %} {{plant.species}} {% endif %}
                {% if plant.cultivar %} {{plant.cultivar}} {% endif %}</td>
            <td>{{ plant.genus.pl_name }}
                {% if plant.species.pl_name %} {{plant.species.pl_name}} {% endif %}
                {% if plant.cultivar %} {{plant.cultivar}} {% endif %}</td>
            <td>{{ plant.body_type }}</td>
            <td>{{ plant.edible_show }}</td>

            <td>
                <a href="{% url 'botanical-show' plant.id %}" type="button" class="btn btn-outline-secondary btn-sm">Wyświetl</a>
                {% if request.user.is_authenticated %}
                <a href="{% url 'botanical-edit' plant.id %}" type="button" class="btn btn-outline-success btn-sm">Edytuj</a>
                <a href="{% url 'botanical-delete' plant.id %}" type="button" class="btn btn-outline-danger btn-sm">Usuń</a>
                {% endif %}
            </td>

        </tr>
        {% empty %}
        <tr>
            <th scope="row">#</th>
            <td colspan="5" style="align: center">Brak wyników</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% if paginator.page_num > 1 %}

<div class="row">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% for page in paginator.page_nav %}
            {% if page == paginator.page %}
            {% if forloop.first %}
            <li class="page-item disabled"><span class="page-link"> < Poprzednia </span></li>
            {% endif %}
            <li class="page-item active">
                    <span class="page-link bg-success border-success text-white">{{ page }}<span class="sr-only">(current)</span>
                    </span>
            </li>
            {% if forloop.last %}
            <li class="page-item disabled"><span class="page-link"> Następna > </span></li>
            {% endif %}
            {% else %}
            {% if forloop.first %}
            <li class="page-item"><a class="page-link text-success" href="/botanical/list/{{ paginator.page_prev }}"> <
                Poprzednia </a></li>
            {% endif %}
            <li class="page-item"><a class="page-link text-success" href="/botanical/list/{{ page }}">{{ page }}</a>
            </li>
            {% if forloop.last %}
            <li class="page-item"><a class="page-link text-success" href="/botanical/list/{{ paginator.page_next }}">
                Następna > </a></li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>
{% endif %}
{% endblock %}