{% extends "botanical_base.html" %}
{% block title %}Katalog roślin{% endblock %}
{% block page_title %}<h1 class="display-4">Edycja opisów rośliny</h1>{% endblock %}

{% block page_description %}
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-6">
        <h3>{{plant.genus}} {% if plant.species != None %}{{plant.species}}{% endif %}
            {% if plant.cultivar != None %}'{{plant.cultivar}}'{% endif %}</h3>
        <ul>
            <li>Nazwa polska:
                <strong>{{plant.genus.pl_name}} {% if plant.species != None %}{{plant.species.pl_name}}{% endif %}
                    {% if plant.cultivar != None %}'{{plant.cultivar}}'{% endif %}</strong>
            </li>
            <li>Typ rośliny: <strong>{{plant.body_type}}</strong></li>
            <li>Przydatność do jedzenia: <strong>{{plant.edible_show}}</strong></li>
        </ul>
    </div>
</div>
<form method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                <label for="Text1"><h4>Opis botaniczny</h4></label>
                <textarea name="botanical" class="form-control" id="Text1" rows="6">{% if descriptions.botanical != None %}{{ descriptions.botanical }}{% endif %}</textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                <label for="Text2"><h4>Opis uprawy</h4></label>
                <textarea name="cultivation" class="form-control" id="Text2" rows="3">{% if descriptions.cultivation != None %}{{ descriptions.cultivation }}{% endif %}</textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                <label for="Text3"><h4>Opis zastosowania</h4></label>
                <textarea name="destiny" class="form-control" id="Text3" rows="3">{% if descriptions.destiny != None %}{{ descriptions.destiny }}{% endif %}</textarea>
            </div>
        </div>
    </div>
    {% if error.0 %}
    <div class="row">
        <div class="col-md-9">
            <div class="form-group" style="color: #721c24">
                <h4>Błędy</h4>
                <ul>
                    {% for er in error %}
                    <li>{{er}}</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
        {% if descriptions.agree %}
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <input type="hidden" name="agree" value="{{descriptions.agree}}">
                    <button class="btn btn-warning btn-lg my-3" type="submit"> Zapisz. Jestem pewien! &raquo;</button>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <button class="btn btn-success btn-lg my-3" type="submit"> Wyślij zmiany &raquo;</button>
                </div>
            </div>
        </div>
        {% endif %}
    {% else %}
    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                <button class="btn btn-success btn-lg my-3" type="submit"> Zapisz zmiany &raquo;</button>
            </div>
        </div>
    </div>
    {% endif %}
</form>
{% endblock %}