{% extends "botanical_base.html" %}
{% block page_title %}<h1 class="display-5">Systematyka - Gatunek</h1>{%  endblock %}
{% block page_description %}
<ul>
    <li>Wybór dla rodzaju: <strong>{{request.session.genus_name}}</strong>.</li>
    <li>Wybierz nazwę Gatunku w poniższym formularzu.</li>
    <li>Jeśli nie znalazłeś nazwy możesz ją dodać tutaj.</li>
    <li style="list-style-type: none;">
        <a class="btn btn-success btn-sm" style="margin-top: 7px;" href="{% url 'botanical-add-species' %}" role="button">Dodaj nazwę &raquo;</a>
    </li>
</ul>

{%  endblock %}
{% block page_content %}
<div class="row">
    <div class="col-md-4">
        <h2>Gatunek</h2>
        <form class="form-inline my-2 my-lg-0" method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Nazwa łacińska</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" name="species_name">
                    {% for spec in species %}
                    {% if forloop.first %}
                    {% if species_name %}
                    <option>Wybierz</option>
                    {% endif %}
                    {% endif %}
                    {% if spec.lac_name == species_name %}
                    {% if spec.hybrid %}
                    <option value="{{spec.lac_name}}" selected>x {{spec.lac_name}}</option>
                    {% else %}
                    <option value="{{spec.lac_name}}" selected>{{spec.lac_name}}</option>
                    {% endif %}
                    {% else %}
                    {% if spec.hybrid %}
                    <option value="{{spec.lac_name}}">x {{spec.lac_name}}</option>
                    {% else %}
                    <option value="{{spec.lac_name}}">{{spec.lac_name}}</option>
                    {% endif %}
                    {% endif %}
                    {% empty %}
                    <option selected>Brak nazw...</option>
                    {% endfor %}
                </select>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Wybierz</button>
            </div>

        </form>
    </div>
</div>
{% if error %}
<div class="row">
    <div class="col-md-4">
        <h5 style="margin-top: 10px; color: #772222;">Błąd</h5>
        {% for er in error %}
        <p style="color: #772222;">{{ er }}</p>
        {% endfor %}
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-mgit d-4">
        <h2>Nazwa rośliny</h2>
        <form class="form-inline my-2 my-lg-0" method="POST">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect02">Nazwa łacińska</label>
                </div>
                <select class="custom-select" id="inputGroupSelect02" name="plant_name">
                    <option value="{{genus.lac_name}}" selected>{{request.session.genus_name}} {{request.session.species_name}}</option>
                </select>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Zapisz Roślinę</button>
            </div>
        </form>

    </div>
</div>
{%  endblock %}