{% extends "main_base.html" %}
{% block nav %}
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand px-4">ZnajdzRosline.pl</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="{% url 'main' %}">Główna</a>
            <a class="nav-link" href="{% url 'przeznaczenia' %}">Przeznaczenia</a>
            <a class="nav-link" href="{% url 'kontakt' %}">Kontkakt</a>
            <a class="nav-link" href="{% url 'login' %}">Logowanie</a>
          </nav>
        </div>
      </header>
{%  endblock %}
{% block content %}
      <main role="main" class="inner cover">
        <h1 class="cover-heading">Szukasz roślin?</h1>
        <p class="lead">Masz ogród, jesteś szkółkarzem lub projektujesz ogrody?<br>Mamy dla Ciebie świetne rozwiązanie. Przyejrzyje stronę,<br>na pewno zawartość Cię ucieszy ;)</p>
        <p class="lead">
          <a href="/botanical/" class="btn btn-lg btn-secondary">Przejdź dalej</a>
        </p>
      </main>
{%  endblock %}